/* Styling for the about part of the website. */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
  padding: var(--nav-size) 20px;
}

@media only screen and (min-height: 640px) {
  .about {
    height: 640px;
  }
}

.about-content-wrapper {
  max-width: 720px;
  padding: 20px;
}
