/* Stylings for the about part of the website. */

.about {
	background-color: black;
	height: 100vh;
}

@media only screen and (min-height: 640px) {
	.about {
		height: 640px;
	}
}

.about-content-wrapper {
	max-width: 720px;
}
