/* Styling for the about part of the website. */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: var(--nav-size) 20px;
}

.about-content-wrapper {
  width: 100%;
  max-width: 720px;
  padding: 0 20px;
}
