/* Styling for the contact section of the website. */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: var(--nav-size);
}

.contact-content-wrapper {
  width: 100%;
  max-width: 720px;
  padding: 20px;
}
