/* Styling for the contact section of the website. */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black);
  padding: var(--nav-size);
}

@media only screen and (min-height: 640px) {
  .contact {
    height: 640px;
  }
}

.contact-content-wrapper {
  width: 100%;
  max-width: 720px;
  padding: 20px;
}
