/* Styling for the website's entry point. */

.home {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/photo/NASA-Japan-at-night.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: calc(100vh - 50px);
	padding-top: 50px;
}

.home-content {
	width: 70vw;
	height: auto;
	top: 40%;
	color: white;
	padding-top: 10%;
}

.profile-picture {
	width: 10rem;
	height: auto;
	border-radius: 50%;
}

.home-title {
	font-family: "Spartan-SemiBold";
	letter-spacing: 4px;
	width: 60vw;
	height: auto;
	text-align: center;
	font-size: 2.5rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	color: inherit;
}

.tech-link-group {
	width: 14rem;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.tech-link-img {
	width: 4rem;
	height: auto;
}
