/* Styling specific to the website's entry point. */

.home {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsl(0, 0%, 0%)),
    url("../img/photo/NASA-Japan-at-night.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: var(--nav-size) 20px;
}

.home-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 390px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.home-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
