/* Styling for the present section of the page. */

.present {
  background-color: var(--black);
  padding: var(--nav-size) 30px;
}

.present-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.terminal-header {
  background-color: var(--gray);
  display: flex;
  justify-content: flex-start;
  width: 70vw;
}

.terminal-tab {
  background-color: var(--gray);
}

.terminal-tab.selected {
  background-color: var(--black);
}

.terminal-tab-title {
}

.terminal-button-container {
  background-color: var(--gray);
  display: flex;
  margin-left: auto;
}

.terminal-content {
  background-color: var(--primary-color);
  width: 100%;
  height: 50vh;
}

.terminal-prompt {
}

.terminal-output {
}
