body {
	margin: 0px;
	font-family: "Spartan-Regular";
}

.homepage {
	background-image: url("../img/photo/NASA-Japan-at-night.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: calc(100vh - 50px);
	padding-top: 50px;
}

.homepage-content {
	width: 70vw;
	height: auto;
	top: 40%;
	color: white;
	padding-top: 10%;
}

.centered-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-picture {
	width: 10em;
	height: auto;
	border-radius: 50%;
}

.homepage-title {
	font-family: "Spartan-SemiBold";
	letter-spacing: 4px;
	width: 60vw;
	height: auto;
	text-align: center;
	font-size: 2.5em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	color: inherit;
}

.tech-link-group {
	width: 14em;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.tech-link-img {
	width: 4em;
	height: auto;
}
