body {
	margin: 0px;
}

.header {
	background-image: url("../img/photo/NASA-Japan-at-night.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.header > div {
	width: 70vw;
	height: auto;
	top: 40%;
	color: white;
}

.centered-div {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header img {
	width: 10em;
	height: auto;
	border-radius: 50%;
}

.header-title {
	font-family: "Spartan-SemiBold";
	letter-spacing: 4px;
	width: 60vw;
	height: auto;
	text-align: center;
	font-size: 2.5em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	color: inherit;
}

.tech-links {
	width: 14em;
}

.flex-ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.flex-ul > li {
	display: block;
}

.tech-links img {
	width: 4em;
	height: auto;
}
