:root {
  /* color scheme */
  --gray: hsl(207, 5%, 33%);
  --primary-color: hsl(209, 62%, 14%);
  --secondary-color: hsl(211, 45%, 20%);
  --primary-accent: hsl(40, 72%, 61%);
  --secondary-accent: hsl(32, 100%, 40%);

  /* constant sizes */
  --nav-size: 50px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: "Spartan-Light";
  letter-spacing: 1px;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

img {
  pointer-events: none;
}

button {
  all: unset;
}

.hidden {
  display: none;
}

.fade-in {
  transition: opacity 0.4s linear, transform 0.5s ease-out;
  transform: translateY(50px);
  opacity: 0;
}

.fade-in.appear {
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (hover) {
  .mobile-only {
    display: none;
  }
}

@media not screen and (hover) {
  .hover-only {
    display: none;
  }
}

.button {
  background: linear-gradient(
    to right,
    var(--primary-accent) 25%,
    var(--secondary-accent) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (hover) {
  .button {
    background: linear-gradient(
      to right,
      var(--primary-accent) 15%,
      var(--secondary-accent) 35% 65%,
      var(--primary-accent) 85%
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s linear;
    cursor: pointer;
  }

  .button:hover,
  .button:focus {
    background-position: right;
  }
}

/* Heading and text stylings */

.centered-text {
  text-align: center;
}

.h1 {
  font-family: "Spartan-SemiBold";
  letter-spacing: 4px;
  width: auto;
  font-size: 2.5rem;
}

.h2 {
  font-family: "Spartan-Medium";
  letter-spacing: 2px;
  width: auto;
  font-size: 1.5rem;
}

.h2::after {
  content: "";
  display: block;
  border-top: 0.15rem solid var(--primary-accent);
  margin-top: 1rem;
}

.h3 {
  font-family: "Spartan-Regular";
  line-height: 1.5rem;
  width: auto;
  font-size: 1rem;
}

.h4 {
  line-height: 1.5rem;
  width: auto;
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.25rem;
  }

  .h4 {
    font-size: 1rem;
  }
}

/* Stylings related to shapes and sizes */

.full-width {
  width: 100%;
}

.circle {
  border-radius: 50%;
}

.size-64x64 {
  width: 64px;
  height: 64px;
}

.size-160x160 {
  width: 160px;
  height: 160px;
}

.rounded-corners {
  border-radius: 20px;
}

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

/* Hover and focus highlighting transitions */

.hover-highlight {
  background-color: transparent;
  transition-duration: 0.5s;
}

.hover-highlight:hover,
.hover-highlight:focus {
  background-color: hsla(0, 0%, 100%, 0.35);
}
